/* NAVBAR RESPONSIVA */

.navbar.fixed-top.navbar-expand-lg.navbar-dark{
  background: #fffffffa;
}

.navbar-brand.h1.mb-0{
  visibility: show;
}

.navbar-toggler-icon {
    background: #86232dd4;
    border-radius: 4px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(160, 40, 62);
    font-weight: bold;
    text-align: center;
}


.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(226, 45, 78);
    font-weight: bold;
    text-align: center;
}

.nav-link{
  font-size: 1.5em;
  padding-right: 3rem!important;
  padding-left: 1rem!important;
}

.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}

@media(max-width: 767px){
  .navbar.fixed-top.navbar-expand-lg.navbar-dark{
  background: #fffffffa;
  position: fixed;
  }

	.carousel.slide{
		padding-top: 6em!important;
	}

  .nav-link{
  font-size: 1.5em;
  padding-right: 0rem!important;
  padding-left: 0rem!important;
 }
  .navbar-brand.h1.mb-0{
  visibility: visible;
  }
}

/* SEÇÃO QUEM SOMOS */

.cSobre{
  background-color: #9e012e12;
}

.recuo{
  text-indent:3em;
}

.fotoSobre{
  border-radius: 60%;
  border: 2px solid black;
}

.row.sobre{
  text-align: justify;
  padding-bottom: 45px;
  padding-left: 25px;
  padding-right: 25px;
}

.cortexto{
  color: black;
}

.textbold{
  font-weight: bold;
}

.py-4.text-center.textbold.cortexto{
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  font-size: 2rem;
}

.col-md-6{
  padding-left: 30px;
}

.col-md-6.txt{
  text-align: justify;
}

@media(max-width: 767px){
  .col-md-6.txt{
    text-align: justify;
    padding-top: 15px;
  }
}

/* FOOTER */

.logo7Sight{
  width: 90px;
  margin-left: 10px;
  margin-bottom: 5px;
  text-align: center;
  vertical-align: middle;
} 

a.link7{
  color:#000; 
  text-decoration:none;
}

a.link7:hover{
  color:#030; 
  text-decoration:none;
}

footer {
    background-color: #88888817;
    text-align: center;
    padding: 0.5em 0;
    font-size: 1.3em;
}

/* SEÇÃO CONHEÇA NOSSO TRABALHO */

.cNosso{
  padding-bottom: 40px;
}

.col-md-6.col{
  background-color: #7b787830;
  padding-left: 15px;
  padding-right: 15px;
}

.text-center{
  padding: 15px 0px 0px 15px;
  text-align: center!important;
}


/* SEÇÃO DE CONTATO */


.formContato{
  padding-left: 50px;
  padding-bottom: 15px;
}

#secContato{
      /*background: url(../img/contatos.jpg) no-repeat fixed center;*/
      background-color: #9e012e12;
      background-size: cover;
      color: rgb(160, 40, 62);
      padding: 1%;

}

#emailHelp{
      color: rgb(160, 40, 62)!important;
}

.form-group{
      width: 50%;
}

#btnConta{
      align-items: center;
}

.list-unstyled {
      color: yellow;
}
.has-error .control-label{
      color: yellow;
}

.formulario {
      padding-left: 5em;
}

.btn-danger.disabled, .btn-danger:disabled{

  color: #fff;
    background-color: rgb(148, 41, 60);
    border-color: rgb(128, 45, 60); 
}

.btn-danger {
    color: #fff;
    background-color: rgb(160, 40, 62);
    border-color: rgb(160, 40, 62);
}


@media(max-width: 990px){
      .form-group{
            width: 100%;
      }

      .formContato{
      padding-left: 5px;
      padding-bottom: 15px;
      padding-right: 5px;
      }

      .btnContato{
      text-align: center;
      }
}

.contact-title {
  padding-top: 10px;
  font-weight: bold;
}