/* NAVBAR RESPONSIVA */

.navbar.fixed-top.navbar-expand-lg.navbar-dark{
  background: #000000;
}

.navbar-brand.h1.mb-0{
  visibility: hidden;
}

.navbar-toggler-icon {
    background: #86232dd4;
    border-radius: 4px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255,255,255);
    font-weight: bold;text-align: center;
}

.nav-link{
  font-size: 1.6em;
  padding-right: 3rem!important;
  padding-left: 1rem!important;
}

.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}

@media(max-width: 767px){
  .navbar.fixed-top.navbar-expand-lg.navbar-dark{
  background: black;
  position: fixed;
  }

	.carousel.slide{
		padding-top: 6em!important;
	}

  .nav-link{
  font-size: 1.6em;
  padding-right: 0rem!important;
  padding-left: 0rem!important;
 }
  .navbar-brand.h1.mb-0{
  visibility: visible;
  }
}

/* SEÇÃO QUEM SOMOS */

.cSobre{
  background-color: #9e012e12;
}

.recuo{
  text-indent:3em;
}

.fotoSobre{
  border-radius: 60%;
  border: 2px solid black;
}

.row.sobre{
  text-align: justify;
  padding-bottom: 45px;
  padding-left: 25px;
  padding-right: 25px;
}

.cortexto{
  color: black;
}

.textbold{
  font-weight: bold;
}

.py-4.text-center.textbold.cortexto{
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  font-size: 2rem;
}

.col-md-6{
  padding-left: 30px;
}

.col-md-6.txt{
  text-align: justify;
}

@media(max-width: 767px){
  .col-md-6.txt{
    text-align: justify;
    padding-top: 15px;
  }
}

/* FOOTER */

.logo7Sight{
  width: 90px;
  margin-left: 10px;
  margin-bottom: 5px;
  text-align: center;
  vertical-align: middle;
} 

a.link7{
  color:#000; 
  text-decoration:none;
}

a.link7:hover{
  color:#030; 
  text-decoration:none;
}

footer {
    background-color: #88888817;
    text-align: center;
    padding: 0.5em 0;
    font-size: 1.3em;
}

/* SEÇÃO CONHEÇA NOSSO TRABALHO */

.cNosso{

}

.col-md-6.col{
  background-color: #7b787830;
  padding-left: 15px;
  padding-right: 15px;
}

.text-center{
  padding: 15px 0px 0px 15px;
  text-align: center!important;
}
