*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	font-family: Helvetica Neue;
	color:#2c2727;
}

/* <--! Menu Superior --> */
nav {	
	position: fixed;
	top: 0;
	width: 100%;	
}

/* <--! Rodapé --> */

footer {
	background-color: #888;
	text-align: center;
	padding: 0.5em 0;
	font-size: 1.5em;
}
/* <--! Orcamento --> */
.facaseuorcamento{
    margin: 10px auto;
	min-height: 65vh;
	padding: 1px;
}
/* <--! Titulo do Form --> */
.titfaca{
    text-align: center;
    margin-bottom: 125px;
    margin-top: 20px;
}
.contact{
    margin: 0 0 0 0;
}
.esp{
    margin-bottom: 10px;
}
.hrr{
    margin: 0 0 0 10px;
}
.par{
	text-align: center;
   @include text-shadow(1px 1px 0 rgba(white, 1));
}
.format{
	margin-bottom: 150px;
}
/* Titulo Quem Somos*/
.form-quem{
	text-align: center;
	margin-bottom: 100px;
	padding-top: 50px;
}
p{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
.container-img{
	width:65%;
	height:500px;
}
.container-somos{
	margin-bottom: 125px;
}

/* Nosso Trabalho*/
.cor-titulo{
	color: #a97464;
}
.caixa{
	border:50px solid #a97464; 
	background-color: #a97464; 
	width: 100%;
	height: 100%;
	align-items: center;
}
.cor-nosso{
	background:#14171e;
	height: 90vh;
}
.esp-n{
	margin-bottom: 150px;
	padding-top: 50px;
	margin-top: 0px;
}
.foto-icone{
	box-align: center;
	width:30%; 
	height: 10%;
}
.legenda-n{
	padding-top: 30px;
	color: black;
	text-align: center;
}
@media(max-width: 576px){
	.foto-icone{
		box-align: center;
		width: 90%; 
		height: 10%;
	}
	.caixa{
		margin-left: 65px;
		border: solid #a97464; 
		background-color: #a97464; 
		width: 175px;
		height: 200px;
		margin-bottom: 25px;
		align-items: center;
	}

	.legenda-n{
		color: black;
		text-align: center;
		font-size: xx-small;
	}
	.esp-n{
		margin-bottom: 100px;
		padding-top: 50px;
		margin-top: 0px;
	}
	.cor-nosso{
		background:#14171e;
		height: 125vh;
	}
}

/* Fim Nosso Trabalho*/
.imagemA{ 
	position: relative;
	width: 100%;
	height: 800px;
}
@media (max-width: 600px){
	.esp-n{
		margin-bottom: 100px;
		padding-top: 50px;
		margin-top: 0px;
	}
	.imagemA{
		width: 100%;
		height: 450px;
	}
	.informacoes{
		padding: 20px;
		text-align: center;
	}
	.form-quem{
		padding-top: 20px;
		justify-content: center;
		height: 50%;
		text-align: center;
		margin-bottom: 20px;
	}
	.container-img {
		width: 455px;
		height: 255px;
	}
	.container-somos{
		margin-bottom: 10px;
	}
	.titfaca{
		margin-bottom: 30px;
	}
	.TextoQ{
		text-align: justify;
	}
	.format{
		margin-bottom: 10px;
	}
	.btn {
		margin-left: 200px;
	}
}
.tituloVisao{
	text-align: center;
}
.textoVisao{
	text-align: justify;
} 
.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}
/* Home */